export(fetchSudokuUK,
       generateSudoku,
       hintSudoku,
       playSudoku,
       printSudoku,
       readSudoku,
       solveSudoku,
       writeSudoku)
importFrom("grDevices", "getGraphicsEvent")
importFrom("graphics",  "plot","par","segments","text")
